version: '3.8'

services:
  pinn-app:
    build: .
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, utility, compute]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - .:/app
    working_dir: /app
    command: python main.py

    shm_size: '4gb'  
 
    ulimits:
      memlock: -1
      stack: 67108864
    
    ipc: host